@import "tailwindcss";

:root {
  --background: #f3eef0;
  --card: #ffffff;

  --primary: #b76e79;
  --primary-hover: #a55f69;

  --text: #2b2328;
  --text-secondary: #6b5a63;

  --border: #e7d5db;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 90px;
}

body {
  background: var(--background);
  color: var(--text);
  overflow-x: hidden;
  font-family: var(--font-montserrat);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-playfair);
}

.section {
  max-width: 1400px;
  margin: auto;
  padding: 28px 24px;
}

.card {
  background: var(--card);
  border: 1px solid var(--border);
  border-radius: 24px;
  box-shadow: 0 10px 40px rgba(0,0,0,0.05);
}

.primary-text {
  color: var(--primary);
}

.secondary-text {
  color: var(--text-secondary);
}

.primary-button {
  background: var(--primary);
  color: white;
  transition: 0.3s;
}

.primary-button:hover {
  background: var(--primary-hover);
}